trigger: none

pool:
  vmImage: 'ubuntu-latest'
 
steps:
- task: AzureCLI@2
  displayName: 'Deploy'
  inputs:
    azureSubscription: connection
    scriptLocation: inlineScript
    scriptType: bash
    inlineScript: |
      echo 'Hello World public' 
      cd public
      sh deploy.sh